body{
    background-color: #FFF5C2;
}
header{
    background-color: #F4F27E;
    margin: 0;
    padding: 0;
    height: 150px;
    width: auto;
    padding-top: 70px;
}
h1{
    color: #3081D0;
    text-align: center;
}